
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&family=Rubik+Gemstones&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Rowdies";
  color: #333;
}
.Navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.Navbar h1 {
  color: #f1356d;
}
.Navbar .links {
  margin-left: auto;
}
.Navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.Navbar a:hover {
  color: #f1356d;
  text-decoration: underline #f1356d ;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.home p{
  color: #555;
}